<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>

	<!-- ################################################################################################################################################# -->
	<!-- ################################################################################################################################################# -->

	<!-- Inicio - Replace da Navbar -->
	<div th:replace="common/header::navbar"></div>
	<!-- Fim - Replace da Navbar -->

	<!-- ################################################################################################################################################# -->
	<!-- ################################################################################################################################################# -->

	<div class="container">
		<div>
			<ol class="breadcumb">
				<li>
					<a th:href="@{/book/bookList}">
						<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
						Go back
					</a>
				</li>
				<li>
					<a th:href="@{/book/updateBook?id=}+${book.id}">Edit</a>
				</li>
			</ol>
		</div>

		<div class="row">
		
		</div>
	</div>

	<!-- ################################################################################################################################################# -->
	<!-- ################################################################################################################################################# -->

	<!-- Inicio - Replace dos Scripts -->
	<div th:replace="common/header:: body-bottom-scripts"></div>
	<!-- Fim - Replace dos Scripts -->

</body>
</html>