<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>

	<!-- ################################################################################################################################################# -->
	<!-- ################################################################################################################################################# -->

	<!-- Inicio - Replace da Navbar -->
	<div th:replace="common/header::navbar"></div>
	<!-- Fim - Replace da Navbar -->

	<!-- ################################################################################################################################################# -->
	<!-- ################################################################################################################################################# -->
	<h1>Book List Page</h1>


	<!-- ################################################################################################################################################# -->
	<!-- ################################################################################################################################################# -->

	<!-- Inicio - Replace dos Scripts -->
	<div th:replace="common/header:: body-bottom-scripts"></div>
	<!-- Fim - Replace dos Scripts -->

</body>
</html>